{{define "home_page"}}
{{template "header"}}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="static/zz.png" class="d-block mx-lg-auto img-fluid" alt="img err" width="900" height="643" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">ХОТИТИТЕ ОРГАНИЗОВАТЬ НЕЗАБЫВАЕМЫЙ ПРАЗДНИК?</h1>
        <p class="lead">Аренда квадроцикла - идеальный способ разнообразить свои выходные и открыть для себя новые места!</p>
        
      </div>
    </div>
  </div>
  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Что вас ждет</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Квадрациклы мощностью более 400 кубов</h3>
          <p>Ощутите на себе непревзойднную мощь квадроцикла!</p>
          
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Автоматическая трассмиссия!                   </h3>
          <p>С управлением квадроцикла справится даже ребенок.</p>
          
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Большое количество мршрутов                    </h3>
          <p>У вас будет возможность выбрать из нескольких маршрутов тот, который подходит именно вам: лесная прогулка, бездорожье и др.</p>
          
        </div>
      </div>
    </div>
  </div>
  <div class="bg-body-tertiary p-5 rounded">
    <h1>Оставить заявку</h1>
    <p class="lead">В течении пару часов вы сможете записаться в удобное для вас время, гибкий график и быстрая поддержка.</p>
    <a class="btn btn-lg btn-primary" href="/recording/" role="button">></a>
  </div>
  <div class="bg-body-tertiary p-5 rounded">
    <h1>Связаться с менеджером</h1>
    <p class="lead">По вопросам, также и для получения большей информации есть возможность связаться с менеджером.</p>
    <a class="btn btn-lg btn-primary" href="https://t.me/gkhe1x" role="button">></a>
  </div>
{{template "footer"}}
{{end}}